* {
  box-sizing: border-box;
}
html{
  background-color: #fffbf3;
}
body {
  font: 16px/1.6 Roboto,Helvetica,sans-serif;
  font-weight: 300;
  color: rgb(51, 51, 51);
  text-align: center;
  line-height: 1.5;
}




.my-picture{
  border-radius: 50%;
  width: 100px;
}



.section-container{
  /*margin-left: 281px;*/
}

.section-header{
  color: #4b3a4a;
  text-align: left;
  font-size: 32px;
  font-weight: normal;
}

.section-description{
  color: #4b3a4a;
  text-align: left;
  font-size: 18px;
}

.section-header,.section-description{
  padding-left: 45px;
}

.section {
  margin: auto;
  margin-top: 25px;
  padding-top: 2%;
  padding-bottom: 2%;
  max-width: 900px;
  /*background-color: #e5f0bf;*/
}



.project-list{
  padding: 0;
}

.project-list li a{
  padding: 5px;
}

.portfolio-link-wrapper{
  display: inline;
}

.project-demo-link , .project-repo-link{
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  color: #e97300;
}

.project-demo-link:hover , .project-repo-link:hover{
  text-decoration: underline;
  cursor: pointer;
}

/* ul li:hover ul {
  position: absolute;
  top: 48px;
  display: block;
} */

ul li ul li a {display:block !important;} 
.active{
  background-color: #252f54e0 !important;
  color: white !important;

}

.child-hover{
  background: #2f616d;
}

.hover{
    -webkit-transform: translate3d(20px,0,0); 
    transform: translate3d(20px,0,0); 
}


/* LOGOS AND ICONS */
.logo{
  margin: 30px;
  width: 100px;
}

.font-sized-logo{
  font-size: 30px;
  color: black;
  width: 30px;
}

.footer-logo{
  display: inline-block;
  width: 50px;
}

.footer-logo:active{
  transform: translate3d(10px,0,0);
  transform: scale(1.1);
  transition: transform 425ms cubic-bezier(.05,.65,.18,1); 
}

.footer-logo:hover{
  transform: translate3d(10px,0,0);
  transform: scale(1.1);
  transition: transform 425ms cubic-bezier(.05,.65,.18,1); 
}

.github-pic{
  border: 1px solid black;
  width: 50px;
  border-radius: 4px;
  background-color: white;
}

.paragraph{
  max-width: 500px;
  margin: auto;
}

.contact-section a{
  color: black;
  font-size: 18px;
  padding-bottom: 10px;
  text-decoration: none;
}

.span-email{
  font-weight: bold;
}

.contact-list{
  margin-top: 30px;
}
.contact-list ul{
  list-style: none;

}

.email-icon{
    background-color: white;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid black;
}

/* NAV BAR */

/*nav {
  background-color: #547b84;
  padding: 12px;
  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0px 2px 4px grey;

}*/

div a {
    text-decoration: none;
    color: white;
    font-size: 16px;

}
.nav-list{
  display: inline;
  margin: 0;
  padding: 0;
}
.nav-list li {display: inline-block;}

/* .nav-list li:hover ul {display: block;} */
.nav-list li ul {
  text-align: left;
  position: absolute;
  width: 150px;
  display: none;
}
.nav-list li ul li { 
  background: #e5f0bf; 
  display: block; 
}
.nav-list li ul li a {
  text-decoration: none;
  color: black;
  display:block !important;
} 
.nav-list li ul li:hover {
  color: black;
  background: #c0d5da;
}

.nav-list li ul li:hover .js-portfolio-link{
  
  background: #2f616d;
}


/* TEXT */

.intro{
  margin: 0;
  background: #949dc0b8;
  font: 18px/1.6 Roboto,Helvetica,sans-serif;
}

.project-section{
  margin-bottom: 20px;
}

.project-screenshot{
  padding: 2px;
  display: block;
  width: 100%;
  max-width: 350px;
  margin: auto;
}

.screenshot-overlay:hover{
  opacity: 1 !important;
}

.container {
  position: relative;
  width: 85%;
  margin: auto;
}

.container:hover .overlay{
  opacity: .75 !important;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #eaeaff;
}

.overlay-text {
  color: black;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay-text:hover {
  text-decoration: underline;
}



.project-title{
  color: #515f96;
}
.project-title:hover{
  cursor: pointer;
  text-decoration: underline;
}
.header-container{
  /*background-color: rgba(145,13,13,.8);*/
}


.screenshot-overlay{
  opacity: 0;
  color: white;
  background-color: rgba(6, 59, 103, 0.3);
  font-size: 3em;
  font-family: 'Lato', sans-serif;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  left: 0;
  right: 0;
}
.tech-list li{
  display: inline-block;
  margin: 5px;
  color: white;
  background-color: #e97300;
  
  border-radius: 5px;
}
.tech-list li a{
  color: white;
  padding: 5px;
}
.tech-list li a:hover{
  text-decoration: underline;
  cursor: pointer;
}


.tech-list{
  padding: 10px;
  clear: both;
}



/* RESPONSIVE DESIGN */

.row{
  max-width: 800px;
  /*margin: 0 auto !important;*/
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
}


.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-2{
  padding-top: 12px;
  float: left;
  width: 50%
}

.left-side{
  border-right: 1px solid #203c50;
}
.project-description{
  text-indent: 50px;
}

@media only screen and (max-width:550px){
  .occupation{
    display: none;
  }
  nav{
    text-align: center;
  }


}

@media only screen and (max-width:700px){

  .project-description{
    max-width: 450px;
    margin:auto;
  }

  /*.contact-list{
    padding: 0;
    bottom: 15px;
    width: 100%;
    height: auto;
    top: auto;
    left: 0;
  }*/

  .contact-list ul li{
    text-align: left;
    margin: 20px;
  }
  .contact-list ul{
    padding: 0;
    display: inline-flex;
  }

  .toggle-off-500px{
    display: none;
  }
  
  .row::after {
    clear: both;
  }
  
  .col-2{
    padding-top: 12px;
    float: left;
    width: 100%
  }
  
  .left-side{
    border-right: none;
  }

}


@media only screen and (min-width:701px){
  .project-description{
    text-align: left;
    margin-left: 30px;
  }

  .row::after {
    clear: both;
  }

  .col-2{
    padding-top: 12px;
    float: left;
    width: 50%
  }

  .left-side{
    border-right: 1px solid #203c50;
  }

}


@media only screen and (max-width:900px){
  header {
    padding-top: 20px;
  }
  header{
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    content: " ";
    display: block;
    width: 100%;
    background: 
    /* top color */ 
    linear-gradient(
      rgba(0, 0, 0, 0.8), 
      rgba(0, 0, 0, 0.2)
    ),
    /* bottom, image */
    
    url('https://bitcoinist.com/wp-content/uploads/2018/09/shutterstock_1031967217-e1536385789945.jpg') top center no-repeat;
    background-size: cover;
  }

  /*margin top should be relative to header's height*/
  main{
    margin-top: 150px;
  }
  .intro{
    position: fixed;
    top: 122px;
    left: 0;
    right: 0;
  }
  .my-picture{
    position: relative;
    right: 100px;
    bottom: 10px;
    border-radius: 50%;
    width: 90px;
  }
  .contact-list{
    position: fixed;
    right: 10px;
    top: 0px;
  }

  .nav-link{
  font-size: 18px;
  color: white;
  padding: 15px;
  display: inline;
  -webkit-transition: 0.5s; /* Safari */
  transition: 0.5s;
  background-color: #949dc0e8;
  position: relative;
            bottom: 41px;
    padding: 2px;
    border: 1px solid;
    border-radius: 5px;
    right: -48px;
}


  .project-description{
    max-width: 350px;
    margin:auto;
  }

/*  .contact-list{
    padding: 0;
    bottom: 15px;
    width: 100%;
    height: auto;
    top: auto;
    left: 0;
  }*/

  .contact-list ul li{
    text-align: left;
    margin: 20px;
  }
  .contact-list ul{
    padding: 0;
    display: inline-flex;
  }

  .toggle-off-500px{
    display: none;
  }
}

@media only screen and (min-width:901px){

  main{
    margin-left: 280px;
  }

  header {
    padding-top: 60px;
  }
  .contact-list{
    z-index: 10;
    display: flex;
    justify-content: space-around;
  }

  .contact-list ul{
    padding-left: 15px;
  }

  .contact-list ul li p{
    font-size: 16px;
    width: 100px;
    text-align: left;
  }

  header{
 
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    content: " ";
    display: block;
    width: 240px;
    background: 
    /* top, transparent red */ 
    /*linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    ),*/
    /* bottom, image */
    
    url('https://bitcoinist.com/wp-content/uploads/2018/09/shutterstock_1031967217-e1536385789945.jpg') top center no-repeat;
    background-size: cover;
  }

  .nav-link{
  font-size: 20px;
  color: white;
  padding: 15px;
  display: block;
  -webkit-transition: 0.5s; /* Safari */
  transition: 0.5s;
}

.nav-link:hover{
  cursor: pointer;
  background-color: #949dc0e8;
}

}
